.cards-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.interested-companies-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #1a720b;
    border-radius: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.interested-companies-section ul {
    list-style: none;
    padding: 0;
}

.interested-companies-section li {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: bold;
}
